<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shape.mapper.sourcetop.sourcetopMapper">
    <select id="getDatset" resultType="Map">
        select * from ${tableName}
    </select>

    <select id="getzdData" resultType="Map">
        select t.* from v_cds_zdxx t
    </select>

    <select id="getxqData" resultType="Map">
        select t.*  from v_cds_zsx t  where and t.ldzl not like '%号%' and  t.ldzl not like '%栋' and t.ldzl not like '%幢' and t.ldzl not like '%楼'  and t.xqmc is not null and t.xzbz is not null
    </select>

    <select id="getlpData" resultType="Map">
        select t.* from v_cds_zsx t where (t.ldzl like '%号%' or t.ldzl like '%栋' or t.ldzl like '%幢' or  t.ldzl like '%楼')  and t.xzbz is not null
    </select>

    <select id="getfwplData" resultType="Map">
        select p.*,t.uuid,s.xzbz,s.yzbz,t.hh from sjgx_h t, SJGX_ZRZ p,SJGX_ZRZ_JZD s where t.zrzbsm=p.bsm and t.zrzbsm=s.bsm and p.xqmc is not null
    </select>

    <select id="getFloorData" resultType="Map">
        select * from sjgx_h
    </select>

    <select id="testse" resultType="Map">
        select * from bh_layer
    </select>

    <select id="getsource" resultType="Map">
         ${sql}
    </select>

    <select id="getTableCount" resultType="String">
        select count(1) from ${tableName}
    </select>

    <select id="getFloorDataPage"  resultType="Map">
        SELECT *,s.bsm as UUID
        FROM ( SELECT t.*,
        ROW_NUMBER() OVER (ORDER BY bsm) rn
        FROM v_cds_fwsx t ) s
        WHERE rn BETWEEN ${start} AND ${end}
    </select>


    <select id="getFloormlpData" resultType="Map">
        select t.bsm as UUID,t.HH,t.ZL,p.* from (SELECT *  FROM ( SELECT t.*,ROW_NUMBER() OVER (ORDER BY bsm) rn  FROM v_cds_fwsx t ) t
         WHERE rn BETWEEN  ${start}  AND  ${end}) t,v_cds_zsx p where t.zrzh=p.zrzh and p.xzbz is not null
    </select>
</mapper>